# Node dependencies
node_modules/
dist/
build/

# Java target
target/
*.class

# Python & Notebook cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE & OS files
.vscode/
.idea/
.DS_Store
*.log
*.env

